body {
}

.container,
.container-fluid {
 padding: 5px;
}

.container-fluid.backdrop {
 max-width: 100%;
 height: auto;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
 --bs-gutter-x: 0;
}

.row {
 padding: 5px;
 --bs-gutter-x: 0;
}

.row.center {
 justify-content: center;
}

.row.left {
 justify-content: left;
}

.image-container {
 display: inline-block;
 position: relative;
 overflow: hidden;
 padding: 0.2%;

 transition: filter 0.3s ease;
}

.image-container.poster:hover img {
 filter: blur(4px);
}

.image-container.poster img {
 width: 100%;
 height: 100%;
 aspect-ratio: 2/3;
}

.image-container:hover .buttons-container {
 display: block;
 opacity: 1;
}

.buttons-container {
 display: none;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.7);
 color: white;
 text-align: center;
 opacity: 0;
 transition: opacity 0.3s ease;
}

.buttons-container button {
 border: none;
 background-color: white;
 color: black;
 font-size: 16px;
 cursor: pointer;
}

.buttons-container button:hover {
 background-color: black;
 color: white;
}

.progress-bar {
 width: 100%;
 background-color: #f2f2f2;
}

.progress {
 height: 10px;
 background-color: #4caf50;
}

.backdrop img {
 width: 100%;
 align-content: center;
}

nav {
 align-content: center;
 align-self: center;
}

.image-container.still {
 position: relative;
 overflow: hidden;
}

.image-container.still img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.bi-eye-slash-fill {
 color: blue;
}

.bi-eye-slash-fill:hover {
 color: red;
}

.bi-eye-fill {
 color: blue;
}

.bi-eye-fill:hover {
 color: green;
}

.bi-x-circle-fill {
 color: red;
}

.genre {
 border: 1px solid blue;
 padding: 2px;
}

.cast-images {
 text-align: center;
}

.cast-image {
 display: inline-block;
 margin: 10px;
}

.cast-slider {
 overflow-x: scroll;
 white-space: nowrap;
 scrollbar-width: thin;
 scrollbar-color: #888888 #f0f0f0;
}

.cast-item {
 display: inline-block;
 vertical-align: top;
 white-space: normal;
}
